.skill-card {
	box-sizing: border-box;
	background-color: rgba(57, 62, 70, 0.5);
	width: 125px;
	height: 125px;
	border-radius: 1rem;
	padding: 10px;
	text-align: center;
}

.skill-card > img {
	width: 75px;
}

.skill-card:hover {
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
	transform: scale(1.1);
}

@media (max-width: 480px) {
	.skill-card {
		width: 100px;
		height: 100px;
		padding: 5px;
	}

	.skill-card > img {
		width: 60px;
	}

	.skill-card > p {
		font-size: 0.8rem;
	}
}
