.portfolio-button {
	box-sizing: border-box; 
	font-family: "Poppins";
	font-weight: 700;
	text-shadow: 0 4px 4px rgb(0, 0, 0, 0.5);
	color: white;
	border: none;
	border-radius: 24px;
	padding: 10px 20px;
}

.primary-button:hover, .secondary-button {
	background-color: var(--secondary-color);
}

.primary-button, .secondary-button:hover {
	background-color: var(--main-color);
}

